services:
  sabnzbd:
    image: lscr.io/linuxserver/sabnzbd:latest
    container_name: sabnzbd
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ${DOWNLOADS_PATH}:/downloads
      - ./sabnzbd/config:/config
    ports:
      - 8080:8080
    restart: unless-stopped

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ./prowlarr/config:/config
    ports:
      - 9696:9696
    restart: unless-stopped

  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ${MOVIES_PATH}:/movies
      - ${MOVIES_PATH_2}:/movies-leviathan
      - ${DOWNLOADS_PATH}:/downloads
      - ./radarr/config:/config
    ports:
      - 7878:7878
    restart: unless-stopped

  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ${TV_PATH}:/tv
      - ${TV_PATH_2}:/tv-leviathan
      - ${DOWNLOADS_PATH}:/downloads
      - ./sonarr/config:/config
    ports:
      - 8989:8989
    restart: unless-stopped

  lidarr:
    image: lscr.io/linuxserver/lidarr:latest
    container_name: lidarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ${MUSIC_PATH}:/music
      - ${MUSIC_PATH_2}:/music-leviathan
      - ${DOWNLOADS_PATH}:/downloads
      - ./lidarr/config:/config
      - ./lidarr/custom-services.d:/custom-services.d
      - ./lidarr/custom-cont-init.d:/custom-cont-init.d
    ports:
      - 8686:8686
    restart: unless-stopped

  jellyseerr:
    image: ghcr.io/fallenbagel/jellyseerr:latest
    container_name: jellyseerr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - LOG_LEVEL=debug
    volumes:
      - ./jellyseerr/config:/app/config
    ports:
      - 5055:5055
    restart: unless-stopped

  whisparr:
    image: ghcr.io/hotio/whisparr:v3
    container_name: whisparr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ${ADULT_PATH}:/adult
      - ${ADULT_PATH_2}:/adult-leviathan
      - ${DOWNLOADS_PATH}:/downloads
      - ./whisparr/config:/config
    ports:
      - 6969:6969
    restart: unless-stopped

  ngrok:
    image: ngrok/ngrok:latest
    container_name: ngrok
    environment:
      - NGROK_AUTHTOKEN=${NGROK_AUTHTOKEN}
    command: http --url=jelly-orb.ngrok.app jellyseerr:5055
    depends_on:
      - jellyseerr
    restart: unless-stopped

  gluetun:
    image: qmcgaw/gluetun:latest
    container_name: gluetun
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    environment:
      - VPN_SERVICE_PROVIDER=protonvpn
      - VPN_TYPE=wireguard
      - WIREGUARD_PRIVATE_KEY=${WIREGUARD_PRIVATE_KEY}
      - SERVER_COUNTRIES=United States
      - TZ=${TZ}
    volumes:
      - ./gluetun/config:/gluetun
    ports:
      - 8085:8085  # qBittorrent Web UI (exposed through gluetun)
      - 6881:6881  # qBittorrent torrent port
      - 6881:6881/udp
      - 5030:5030  # slskd Web UI (exposed through gluetun)
      - 50300:50300  # slskd Soulseek listen port
    restart: unless-stopped

  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    network_mode: service:gluetun
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - WEBUI_PORT=8085
    volumes:
      - ${DOWNLOADS_PATH}:/downloads
      - ./qbittorrent/config:/config
    depends_on:
      - gluetun
    restart: unless-stopped

  slskd:
    image: slskd/slskd:latest
    container_name: slskd
    network_mode: service:gluetun
    environment:
      - SLSKD_SLSK_USERNAME=${SLSKD_SLSK_USERNAME}
      - SLSKD_SLSK_PASSWORD=${SLSKD_SLSK_PASSWORD}
      - SLSKD_REMOTE_CONFIGURATION=true
      - SLSKD_DOWNLOADS_DIR=/downloads/complete/soulseek
      - SLSKD_INCOMPLETE_DIR=/downloads/incomplete/soulseek
      - SLSKD_SHARED_DIR=/music-leviathan
      - TZ=${TZ}
    volumes:
      - ./slskd/config:/app
      - ${DOWNLOADS_PATH}:/downloads
      - ${MUSIC_PATH_2}:/music-leviathan
    depends_on:
      - gluetun
    restart: unless-stopped

  soularr:
    image: mrusse08/soularr:latest
    container_name: soularr
    user: "${PUID}:${PGID}"
    environment:
      - TZ=${TZ}
      - SCRIPT_INTERVAL=120
    volumes:
      - ${DOWNLOADS_PATH}:/downloads
      - ./soularr/config.ini:/data/config.ini
    depends_on:
      - lidarr
      - slskd
    restart: unless-stopped

  musicseerr:
    build: ./musicseerr
    container_name: musicseerr
    environment:
      - LIDARR_URL=http://lidarr:8686
      - LIDARR_API_KEY=${LIDARR_API_KEY}
    ports:
      - 3333:3333
    depends_on:
      - lidarr
    restart: unless-stopped

  ngrok-music:
    image: ngrok/ngrok:latest
    container_name: ngrok-music
    environment:
      - NGROK_AUTHTOKEN=${NGROK_AUTHTOKEN}
    command: http --url=music-orb.ngrok.app musicseerr:3333
    depends_on:
      - musicseerr
    restart: unless-stopped

  threadfin:
    image: fyb3roptik/threadfin:latest
    container_name: threadfin
    ports:
      - 34400:34400
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ./threadfin/config:/home/threadfin/conf
    restart: unless-stopped