# System Configuration
# Find your PUID and PGID by running `id` in your terminal; TZ is timezone
PUID=1000
PGID=1000
TZ=Etc/UTC

# Media and Download Paths
# These should be the absolute paths to your media directories.
DOWNLOADS_PATH=/path/to/your/downloads
MOVIES_PATH=/path/to/your/movies
TV_PATH=/path/to/your/tv
MUSIC_PATH=/path/to/your/music